<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/login_page.css">
</head>
<body>
    <!-- Cabeçalho -->
  <header>
    <div class="logo"><a href="{{ url_for('home_page') }}">RECICLY</a></div>
    <nav>
      <ul>
        <li><a href="{{ url_for('rankings_page') }}">Rankings</a></li>
        <li><a href="{{ url_for('sitestats_page') }}">Estatísticas</a></li>
      </ul>
    </nav>
    <div class="registro">
      <a href="{{ url_for('register_page') }}" class="btn-register">Registrar-se</a>
    </div>
  </header>

    <!-- Conteúdo Principal -->
    <div class="container">
        <header class="header">
            <h1>Bem-vindo ao Recicly</h1>
        </header>
        <main class="main-content">
            <div class="form-container">
                <h2>Entrar</h2>
                <form id="loginForm" action="/login" method="POST">
                    <label for="email">E-mail:</label>
                    <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>

                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password" placeholder="Digite sua senha" required>

                    <button type="submit" class="btn">Entrar</button>
                </form>

            </div>
        </main>
    </div>
</body>
</html>
