<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recicly - Rankings</title>
    <link rel="stylesheet" href="static/rankings_page.css">
</head>
<body>
        <header>
        <div class="logo">
            <a href="{{ url_for('home') }}">RECICLY</a>
        </div>
        <nav>
            <ul>
                {% if logged %}
                    <li><a href="{{ url_for('places') }}">Locais Próximos</a></li>
                    <li><a href="{{ url_for('stores') }}">Loja</a></li>
                {% endif %}
                <li><a href="{{ url_for('rankings') }}">Rankings</a></li>
                <li><a href="{{ url_for('sitestats') }}">Estatísticas</a></li>
            </ul>
        </nav>
        <div class="registro">
            {% if logged %}
                <a href="{{ url_for('profile') }}" class="btn-register">Perfil</a>
            {% else %}
                <a href="{{ url_for('register') }}" class="btn-register">Registrar-se</a>
            {% endif %}
        </div>
    </header>

    <section id="rankings">
        <div class="texto-intro">
            <h1>Ranking de Reciclagem</h1>
            <p>Veja quem está fazendo a diferença na sustentabilidade!</p>
        </div>

        <div class="topico">
            <h3>Ranking Geral</h3>
            <div class="ranking-container">
                <table class="ranking-table">
                    <thead>
                        <tr>
                            <th>Posição</th>
                            <th>Nome</th>
                            <th>Quantidade Entregue</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in ranking_data %}
                        <tr>
                            <td>{{ user.rank }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.trash_amount }} kg</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="topico">
            <h3>Seu Ranking</h3>
            <img src="{{ url_for('static', filename='images/trophy.png') }}" alt="Trophy" class="trophy-icon">
            <div class="personal-ranking">
                <div class="personal-card">
                    <p>Posição Atual: {{ user_rank.position }}</p>
                    <p>Total de Resíduos: {{ user_rank.trash_amount }} kg</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <p>Interessado? <a href="mailto:contato@recicly.com">Entre em contato</a></p>
        <p>Redes sociais: <a href="#">Acesse aqui</a></p>
        <p>Dúvidas? <a href="#">Suporte</a></p>
    </footer>
</body>
</html>